body {
  background-color: transparent !important;
}
.main-menu {
  background-color: transparent !important;
  background-image: url('../images/transparent.png');
  background-repeat: repeat;
}

// <----- хардкод выосты контейнеров для правильного скролла
.categories-container,
.channels-list-container,
.program-list-container {
  height: 650px !important;
}
.content-container {
  height: 190px !important;
}
// ------>

// <----- хардкод ширин контейнеров для отображения без багов
.channels-list-container {
  width: 384px !important;
}
.categories-container,
.program-list-container {
  width: 320px !important;
}
.more-about-container {
  width: 576px !important;
}
// ------>

.video-controls_top .video-controls__item:hover,
.video-controls_top .video-controls__item.active {
  background: #0f6fd0;
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .category-item__title {
    width: 70% !important;
  }
}