body {
  background-color: transparent !important;
}

.main-menu {
  background-color: transparent !important;
  background-image: url('../images/transparent.png');
  background-repeat: repeat;
}

.video-controls_top .video-controls__item:hover,
.video-controls_top .video-controls__item.active {
  background: #0f6fd0;
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .category-item__title {
    width: 70% !important;
  }
}